################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FleetcheckDownLoad/bin/Debug
/.vs/fleetcheckdownload/FileContentIndex
/FleetcheckDownLoad/obj/Debug
/.vs/fleetcheckdownload/v17
/.vs
